@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Playlist-Script";
    src: url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot");
    src: url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist-Script")format("svg");
}

body {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Gradient Definitions */
.bg-blue-to-purple {
    background-image: linear-gradient(to right, #3b82f6, #6d28d9);
  }
  
  .bg-pink-to-orange {
    background-image: linear-gradient(to right, #ec4899, #f97316);
  }
  
  .bg-teal-to-blue {
    background-image: linear-gradient(to right, #4fd1c5, #3b82f6);
  }
  
  .bg-red-to-yellow {
    background-image: linear-gradient(to right, #ef4444, #facc15);
  }
  
  .bg-green-to-teal {
    background-image: linear-gradient(to right, #10b981, #14b8a6);
  }
  
  .bg-indigo-to-blue {
    background-image: linear-gradient(to right, #4f46e5, #3b82f6);
  }
  
  .bg-purple-to-pink {
    background-image: linear-gradient(to right, #6d28d9, #ec4899);
  }
  
  .bg-orange-to-red {
    background-image: linear-gradient(to right, #f97316, #ef4444);
  }
  
  .bg-gray-to-blue {
    background-image: linear-gradient(to right, #9ca3af, #3b82f6);
  }
  
  .bg-cyan-to-purple {
    background-image: linear-gradient(to right, #06b6d4, #6d28d9);
  }
  
  .bg-yellow-to-pink {
    background-image: linear-gradient(to right, #facc15, #ec4899);
  }
  
  .bg-blue-to-green {
    background-image: linear-gradient(to right, #60a5fa, #10b981);
  }
  
  .bg-red-to-pink {
    background-image: linear-gradient(to right, #ef4444, #ec4899);
  }
  
  .bg-lime-to-teal {
    background-image: linear-gradient(to right, #84cc16, #14b8a6);
  }
  
  .bg-fuchsia-to-blue {
    background-image: linear-gradient(to right, #d946ef, #3b82f6);
  }
  
  .bg-rose-to-orange {
    background-image: linear-gradient(to right, #f43f5e, #f97316);
  }